/* waiting-for-the-sunrise-latin-400-normal */
@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/waiting-for-the-sunrise@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/waiting-for-the-sunrise@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Waiting for the Sunrise";
  margin: 20px;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url('https://cdn.pixabay.com/photo/2019/11/07/13/42/musical-instrument-4608912_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 100px 0;
  position: relative;
}

header p small {
  margin-left: 18px;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
}

/* Form Style */
form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: lightcoral;
  border: 0;
  border-radius: 50px;
  color: whitesmoke;
  font-size: 16px;
  padding: 13px 30px;
}

.btn {
  background-color: salmon;
  border: 0;
  border-radius: 10px;
  color: whitesmoke;
  padding: 4px 10px;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
}